{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', obj) }}
<h2 class="text-center">Hola {{ obj.user.name }}</h2>
<div class="container">
  <div class="row">
    <h3>Post a message</h3>
    <form action="/crearMensaje" method="post">
      <div class="form-floating mt-2">
        <textarea class="form-control" name="mensaje" placeholder="Leave a comment here"
          id="floatingTextarea"></textarea>
      </div>
      <div class="text-end  mt-4">
        <button type="submit" class="btn btn-info">Post a message</button>
      </div>
    </form>
  </div>
  <!-- ______________________________________________________________________________________________________ -->
  {% for mens in obj.mensajes%}
  <div class="container_mensaje">
    <input type="hidden" name="id_mensaje" value="{{ mens.id}}">
    <h4><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg> {{mens.name}} {{mens.fecha_creacion}}</h4>
    <!--datos nombre-->
    <div class="row">
      <!--mensaje-->
      <div class="col-12">
        <p>{{mens.mensaje}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        {% for comen in obj.comentarios%}
            {%if comen.mensaje_id ==  mens.id%}
            <div class="container_comentario">
              <h4>{{comen.name}} {{comen.fecha_creacion}}</h4>              
              <div class="row">               
                <div class="col-12">
                  <p>{{comen.comentario}}</p>
                </div>
              </div>
            </div>
            {%endif%}           
        {%endfor%}
        <h5>Post o Comment</h5>
        <form action="/crearComentario/{{ mens.id}}" method="post">
          <div class="form-floating mt-2">
            <textarea class="form-control" name="comentario"  id=" floatingTextarea"></textarea>
          </div>
          <div class="text-end  mt-4">
            <button type="submit" class="btn btn-info">Post a message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}